@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;500;700 & display=swap');

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    background: none;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
}

input, textarea {
    outline: none;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: #F5F5F5;
    line-height: 27px;
}

.container {
    max-width: 1110px;
    margin: auto;
}

h1 {
    line-height: 62px;
    font-weight: 500;
    font-size: 48px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding-top: 64px;
    padding-bottom: 102px;
}

.button_sign_up {
    background: linear-gradient(#F5F5F5, #F5F5F5) padding-box,
    linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    border: 2px solid transparent;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}


.button_login, .button_gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
}

.button_gradient {
    padding: 12px 38px;
    display: block;
}

.button_sign_up:hover {
    background: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
}

.button_gradient:hover {
    color: #FFFFFF;
}

.button_login:hover {
    color: #000000;
    background-image: none;
    font-size: 19px;
}

.navigation_container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 20px;
}

.navigation {
    /*width: 100%;*/
    display: flex;
    justify-content: center;
}

.navigation a:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    font-size: 19px;
}

.button {
    width: 375px;
    padding: 16px 0;
    background: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    color: #ffff;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}

.button:hover, .but_play:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.button:active, .but_play:active {
    transform: none;
}

.mobile_menu_container {
    display: flex;
}

.first_block_container {
    display: flex;
    justify-content: space-between;
    /*position: relative;*/
}

.first_block_heading {
    margin: 0;
}

.first_block_text {
    color: #5A5A5A;
    margin-top: 40px;
    margin-bottom: 40px;
}

.first_block, .first_block_work_animation {
    width: 50%;
}

.first_block_work_animation {
    position: relative;
}

.first_block_work_animation .circle {
    width: 271px;
    height: 271px;
    left: 0px;
    top: -145px;
    opacity: 0.1;
    background: #FFD781;
}

.job, .to, .be, .be_circle, .done, .done_circle, .first_block_work_animation .circle {
    position: absolute;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    transform: scale(0.9);
}

.job {
    background: linear-gradient(to top, #E35569 -21.43%, #751C82 115.09%);
    width: 110px;
    height: 110px;
    font-size: 40px;
    left: 310px;
    top: 0px;
    animation: pulse 3s 1s linear infinite;
}

.to {
    background: linear-gradient(to top, #E56367 -21.43%, #E35569 127.09%);
    width: 55px;
    height: 55px;
    font-size: 24px;
    left: 208px;
    top: 140px;
    animation: pulse 3s 2s linear infinite;
}

.be_container {
    position: absolute;
    display: inline-block;
    right: 140px;
    top: 190px;
}

.be {
    background: linear-gradient(to top, #E88462 -21.43%, #E56367 127.09%);
    width: 80px;
    height: 80px;
    font-size: 32px;
    left: 0px;
    top: 0px;
    z-index: 3;
    animation: pulse 3s linear 3s infinite;
}

.be_circle {
    width: 120px;
    height: 120px;
    background-color: #f58437;
    opacity: 0.1;
    top: -22px;
    left: 0px;
}

.done_container {
    position: relative;
    display: inline-block;
    top: 250px;
    left: 80px;
}

.done {
    background: linear-gradient(to top, #FFD781 -21.43%, #E56367 127.09%);
    width: 150px;
    height: 150px;
    font-size: 48px;
    left: 0;
    top: 0;
    z-index: 3;
    animation: pulse 2s 4s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.90);
    }
}

.done_circle {
    width: 200px;
    height: 200px;
    background-color: #f39756;
    opacity: 0.1;
    left: -23px;
    top: -26px;
}

.intro_video {
    position: relative;
    top: 335px;
    left: 338px;
}

.but_intro_video {
    position: absolute;
}

.text_intro_video {
    position: absolute;
    top: 75px;
    left: -47px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
}

.first_block_one_line_container {
    display: flex;
    justify-content: flex-end;
    width: 0;
    height: 4px;
    right: 213px;
    top: 115px;
    position: absolute;
    transform: rotate(-45deg);
}

.first_block_one_line {
    width: 100%;
    background: linear-gradient(45deg, #e56367, #cb476e 50%);


    animation-name: line_active;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

.line_one_active {
    width: 101px;
}

.first_block_two_line_container {
    display: flex;
    height: 4px;
    width: 0;
    left: 229px;
    top: 194px;
    position: absolute;
    transform: rotate(17deg);
}

.line_two_active {
    width: 200px;
}

.first_block_two_line {
    background: linear-gradient(45deg, #e56367, #e66e65 50%);
    width: 100%;


    animation-name: line_active;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 2s;
}


.first_block_three_line_container {
    display: flex;
    justify-content: flex-end;
    height: 4px;
    position: absolute;
    width: 0;
    left: 212px;
    top: 296px;
    transform: rotate(-21deg);
}


.line_three_active {
    width: 224px;
}

.first_block_three_line {
    background: linear-gradient(45deg, #ed9667, #e66e65 50%);
    width: 100%;

    animation-name: line_active;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 3s;
}

@keyframes line_active {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


.heading {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin: 167px 0 40px 0;
}

.plain_text {
    color: #5A5A5A;
    text-align: center;
    margin: auto;
    width: 90%;
    padding-bottom: 84px;
}

.owl-stage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 1px solid #A7A7A7;
}

.owl-item {
    display: flex;
    justify-content: center;
    margin: auto !important;
}

.owl-carousel .owl-item img {
    width: auto !important;
}

.owl-nav {
    display: none;
}

.block_of_indicators_container {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.indicator {
    width: 255px;
    height: 180px;
    box-shadow: 0 0 8px #D9D9D9;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.indicator_icon {
    top: -30px;
    left: calc(50% - 30px);
    position: absolute;
}

.block_how_work {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.heading_how_work {
    font-weight: 500;
}

.text_how_work {
    color: #5A5A5A;
    font-size: 14px;
    margin-top: 20px;
}

.block_how_work_center {
    width: 460px;
    height: 460px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.circle_center {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.2;
}

.circle_center_left_top {
    background: #E98862;
    top: -15px;
    left: -15px;
}

.circle_center_left_botton {
    background: #95008A;
    bottom: -15px;
    left: -15px;
}

.circle_center_right_top {
    background: #FFD781;
    top: -15px;
    right: -15px;
}

.circle_center_right_botton {
    background: #E35369;
    bottom: -15px;
    right: -15px;
}

.img_how_work_container {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_how_work_container {
    animation: pulse linear 4s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

.img_how_work_container.collecting_feedback {
    background: linear-gradient(45deg, #CB476E, #E66E65 50%);
}

.img_how_work_container.create_value {
    background: linear-gradient(45deg, #DB4C6C, #90257D 50%);
}

.img_how_work_container.tag_cloud {
    background: linear-gradient(45deg, #ED9667, #FAC77B 50%);
}

.img_how_work_container.understand_the_contex {
    background: linear-gradient(45deg, #A13278, #E35868 50%);
}

.top_line {
    background: linear-gradient(45deg, #E56966, #fec376 50%);
    height: 6px;
    position: absolute;
    left: 117px;
}

.top_line_animation {
    width: 260px;

    animation-name: top_line_animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes top_line_animation {
    0% {
        width: 0;
    }
    100% {
        width: 260px;
    }
}

.bottom_line {
    background: linear-gradient(45deg, #99297C, #AF3975 50%);
    height: 6px;
    position: absolute;
    right: -240px;
    bottom: 55px;
}

.bottom_line_animation {
    width: 275px;

    animation-name: bottom_line_animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes bottom_line_animation {
    0% {
        width: 0;
    }
    100% {
        width: 275px;
    }
}

.left_line {
    background: linear-gradient(45deg, #E35569, #eda968 50%);
    width: 6px;
    position: absolute;
    top: 70px;
    right: 55px;
}

.left_line_animation {
    height: 320px;

    animation-name: left_line_animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes left_line_animation {
    0% {
        height: 0;
    }
    100% {
        height: 320px;
    }
}

.right_line {
    background: linear-gradient(45deg, #95287C, #CE486E 50%);
    width: 6px;
    position: absolute;
    bottom: 60px;
    left: 56px;
}

.right_line_animation {
    height: 320px;

    animation-name: right_line_animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes right_line_animation {
    0% {
        height: 0;
    }
    100% {
        height: 320px;
    }
}

.block_how_work_mobile {
    display: none;
}

.img_how_work_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.img_how_work_wrapper > div {
    z-index: 5;
}

.how_work_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.how_work_right_container, .how_work_left_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.how_work_left {
    text-align: end;
}

.text_how_work {
    width: 200px;
}

.plain_text.mini {
    width: 70%;
}

.how_work_play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.how_work_play span {
    padding-left: 20px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
}

.block_with_text_right {
    display: flex;
    margin-top: 180px;
}

.text_right {
    margin-left: 90px;
}

.text_right p, .text_left p {
    color: #5A5A5A;
}

.text_right h1, .text_left h1 {
    margin-bottom: 40px;
}

.block_text {
    margin-top: 60px;
}

.block_with_text_left {
    display: flex;
    flex-direction: row-reverse;
    margin: 170px 0;
}

.text_left {
    margin-right: 90px;
}

.with_tag_cloud, .tag_cloud_container {
    width: 50%;

}

.tag_cloud_container {
    position: relative;
}

.one_word_container {
    right: 100px;
    top: 180px;
    height: 100%;
    position: absolute;
}

.one_word {
    height: 48px;
    font-size: 48px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #99297C, #AF3975 50%);
    font-weight: bold;

    right: 0%;
    top: 0%;
    position: absolute;


    animation-name: one_word_1;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes one_word_1 {
    0% {
        right: -50%;
        top: -50%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        right: 0%;
        top: 0%;
        opacity: 1;
    }
}

.two_word {
    font-size: 40px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #99297C, #AF3975 50%);
    font-weight: bold;
}
.two_word_container span:nth-child(1){
    position: absolute;
    height: 50%;
    right: 280px;
    bottom: 240px;
}

.two_word_container span:nth-child(1) > a {
    right: 0%;
    bottom: 0%;
    position: absolute;


    animation-name: two_word_1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes two_word_1 {
    0% {
        right: -20%;
        bottom: -20%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        right: 0%;
        bottom: 0%;
        opacity: 1;
    }
}

.two_word_container span:nth-child(2){
    position: absolute;
    height: 50%;
    top: 253px;
    right: 94px;
}

.two_word_container span:nth-child(2) > a {
    top: 0%;
    right: 0%;
    position: absolute;


    animation-name: two_word_2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes two_word_2 {
    0% {
        right: -100%;
        top: -70%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        right: 0%;
        top: 0%;
        opacity: 1;
    }
}

.three_word {
    font-size: 34px;
    color: #5A5A5A;
    position: absolute;
}

.three_word_container span:nth-child(1){
    position: absolute;
    height: 40%;
    right: 120px;
    bottom: 200px;
}
.three_word_container span:nth-child(1) > a {
    top: 0%;
    right: 0%;
    position: absolute;


    animation-name: three_word_1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes three_word_1 {
    0% {
        right: -40%;
        top: -20%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        right: 0%;
        top: 0%;
        opacity: 1;
    }
}
.three_word_container span:nth-child(2){
    position: absolute;
    height: 40%;
    right: 120px;
    bottom: 140px;
}
.three_word_container span:nth-child(2) > a {
    bottom: 0%;
    right: 0%;
    position: absolute;


    animation-name: three_word_2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes three_word_2 {
    0% {
        right: -40%;
        bottom: -20%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        right: 0%;
        bottom: 0%;
        opacity: 1;
    }
}
.four_word{
    font-size: 26px;
    color: #5A5A5A;
    position: absolute;
}
.four_word_container span:nth-child(1){
    position: absolute;
    height: 40%;
    right: 420px;
    bottom: 350px;
    transform: rotate(-90deg);
}
.four_word_container span:nth-child(2){
    position: absolute;
    height: 40%;
    right: 340px;
    bottom: 320px;
    transform: rotate(-90deg);
}
.four_word_container span:nth-child(3){
    position: absolute;
    height: 40%;
    right: 360px;
    bottom: 135px;
    transform: rotate(-90deg);
}
.four_word_container span:nth-child(4){
    position: absolute;
    height: 40%;
    right: 300px;
    bottom: 185px;
}
.four_word_container span:nth-child(5){
    position: absolute;
    height: 100%;
    right: 100px;
    bottom: 252px;
}
.four_word_container span:nth-child(odd)  > a {
    bottom: 0%;
    right: 0%;
    position: absolute;


    animation-name: four_word_1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes four_word_1 {
    0% {
        right: -100%;
        bottom: -100%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        right: 0%;
        bottom: 0%;
        opacity: 1;
    }
}
.four_word_container span:nth-child(even)  > a {
    bottom: 0%;
    right: 0%;
    position: absolute;

    animation-name: four_word_2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes four_word_2 {
    0% {
        right: -100%;
        bottom: -100%;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        right: 0%;
        bottom: 0%;
        opacity: 1;
    }
}

.tag_inactive{
    display: none;
}
.tag_active {
    display: block;
}

.five_word {
    font-size: 20px;
    color: #5A5A5A;
    position: absolute;
}
.five_word_container span:nth-child(1){
    position: absolute;
    height: 40%;
    right: 285px;
    bottom: 420px;
}
.five_word_container span:nth-child(2){
    position: absolute;
    height: 40%;
    right: 285px;
    top: 147px;
}
.five_word_container span:nth-child(3){
    position: absolute;
    height: 60%;
    right: 280px;
    bottom: 397px;
}
.five_word_container span:nth-child(4){
    position: absolute;
    height: 60%;
    right: 275px;
    top: 123px;
}
.five_word_container span:nth-child(5){
    position: absolute;
    height: 60%;
    width: 100%;
    right: 230px;
    bottom: 306px;
}
.five_word_container span:nth-child(6){
    position: absolute;
    height: 60%;
    width: 100%;
    right: 275px;
    top: 100px;
}
.five_word_container span:nth-child(7){
    position: absolute;
    height: 80%;
    right: 185px;
    bottom: 396px;
}
.five_word_container span:nth-child(8){
    position: absolute;
    height: 60%;
    width: 100%;
    right: 138px;
    top: 278px;
}
.five_word_container span:nth-child(9){
    position: absolute;
    height: 100%;
    right: 212px;
    bottom: 163px;
}
.five_word_container span:nth-child(10){
    position: absolute;
    height: 100%;
    right: 175px;
    top: 210px;
}
.five_word_container span:nth-child(11){
    position: absolute;
    height: 100%;
    width: 100%;
    right: 230px;
    bottom: 230px;
}
.five_word_container span:nth-child(12){
    position: absolute;
    height: 90%;
    right: 295px;
    top: 253px;
}
.five_word_container span:nth-child(13){
    position: absolute;
    height: 80%;
    right: 175px;
    bottom: 335px;
}
.five_word_container span:nth-child(14){
    position: absolute;
    height: 90%;
    right: 225px;
    top: 320px;
}
.five_word_container span:nth-child(15){
    position: absolute;
    height: 100%;
    right: 116px;
    bottom: 310px;
}
.five_word_container span:nth-child(16){
    position: absolute;
    height: 100%;
    right: 295px;
    top: 305px;
}
.five_word_container span:nth-child(17){
    position: absolute;
    height: 100%;
    width: 100%;
    right: 105px;
    bottom: 163px;
}
.five_word_container span:nth-child(18){
    position: absolute;
    height: 70%;
    right: 100px;
    top: 125px;
}
.five_word_container span:nth-child(19){
    position: absolute;
    height: 100%;
    right: 115px;
    bottom: 230px;
}
.five_word_container span:nth-child(odd)  > a { /*1,3*/
    bottom: 0%;
    right: 0%;
    position: absolute;


    animation-name: five_word_1;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes five_word_1 {
    0% {
        right: -100%;
        bottom: -100%;
        opacity: 0;
    }
    100% {
        right: 0%;
        bottom: 0%;
        opacity: 1;
    }
}
.five_word_container span:nth-child(even)  > a {
    top: 0%;
    right: 0%;
    position: absolute;

    animation-name: five_word_2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes five_word_2 {
    0% {
        right: -100%;
        top: -100%;
        opacity: 0;
    }
    100% {
        right: 0%;
        top: 0%;
        opacity: 1;
    }
}



.yearly_monthly {
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
    padding: 4px;
    border-radius: 12px;
    margin: auto;
    display: flex;
    width: 180px;
}

.btn_monthly, .btn_yearly {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-active {
    background: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    color: #ffff;
    padding: 10px 25px;
    border-radius: 7px;
}

.pricing_plan_container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 160px;
}

.block_pricing_plan {
    box-shadow: 0 0 8px #D9D9D9;
    border-radius: 12px;
    width: 350px;
}

.pricing_plan_head h2 {
    padding: 17px 0;
    border-bottom: 1px solid #D9D9D9;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin: 0;
    text-align: center;
}

.price {
    color: #A6A6A6;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_in_numbers {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: black;
    padding: 0 10px;
}

.features {
    padding-bottom: 27px;
}

.features_head {
    font-weight: 600;
    padding-left: 35px;
}

.feature_list {
    margin: 20px 0 35px 0;
    line-height: 35px;
    padding-left: 35px;
}

.pricing_plan_but {
    width: 280px;
}

.but_container {
    text-align: center;
}

.frequently_asked_questions {
    display: flex;
    justify-content: space-between;
}

.drop-down_list_container {
    width: 570px;
    cursor: pointer;
}

.drop-down_list_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px #D9D9D9;
    border-radius: 12px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.drop-down_text {
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    transition-property: max-height, box-shadow, padding-bottom, padding-top;
}

.drop-down_list {
    flex-direction: column;
    margin-bottom: 20px;
}
.drop-down_list__title {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop-down_list img {
    transition-duration: 0.3s;
    transition-property: all, transform;
}

.drop-down_list.active > .drop-down_text {
    max-height: 350px;
    border-top: 1px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.drop-down_list.active img {
    transform: rotate(180deg);
}

.drop-down_list.active {
    border-radius: 12px 12px 0 0;
    z-index: 2;
}

.frequently_asked_questions_container {
    margin-bottom: 150px;
}

.frequently_asked_questions > img {
    height: 100%;
}

footer {
    background-color: #413841;
    color: #FFFFFF;
}

.foot_header {
    text-align: center;
    padding-top: 60px;
}

.foot_text {
    text-align: center;
    margin-bottom: 60px;
}

.foot_email, .foot_address {
    display: flex;
    align-items: center;
}

.foot_address_text, .foot_email_text {
    font-size: 14px;
    margin: 0;
}

.foot_email_inform, .foot_address_inform {
    margin-left: 20px;
}

.foot_address {
    margin-bottom: 34px;
    margin-top: 60px;
}

.foot_block {
    display: flex;
    justify-content: space-between;
}

.foot_form_container {
    background-color: #FFFFFF;
    border-radius: 12px;
}

footer input, footer textarea {
    font-size: 14px;
    color: #A6A6A6;
    border: 1px solid #A6A6A6;
    border-radius: 6px;
}

.sender_information_container {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 20px 30px;
}

.foot_form_container {
    width: 650px;
    height: 100%;
}

.sender_information_container input {
    padding: 15px 20px 15px 30px;
    display: block;
}

.form_input {
    display: flex;
    flex-direction: column;
    width: 47%;
}
.valid{
    box-shadow: 0 0 3px green;
}
.invalid{
    box-shadow: 0 0 3px red;
}
.message_container {
    margin: 0 30px 20px 30px;
    display: flex;
}

.message_container textarea {
    flex: 1;
    width: 100%;
    height: 90px;
    padding: 15px 20px 15px 30px;
    resize: none;

}

.form_input input:first-child {
    margin-bottom: 20px;
}

.foot_but {
    margin-left: 30px;
    margin-bottom: 32px;
}

.foot_helpful_links {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.foot_helpful_links span {
    font-size: 14px;
}

.foot_block > div {
    margin-bottom: 90px;
}

.raz {
    -moz-appearance: textfield;
}

.raz::-webkit-inner-spin-button {
    display: none;
}