@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;500;700 & display=swap');

button {
    border: none;
    background: none;
    padding: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: #F5F5F5;
    line-height: 27px;
}

.container {
    max-width: 1110px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding-top: 64px;
    padding-bottom: 102px;
}

.button_sign_up {
    background: linear-gradient(#F5F5F5, #F5F5F5) padding-box,
    linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    padding: 12px 38px;
    border: 2px solid transparent;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
}


.button_login, .button_gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
}

.navigation_container{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding-left: 100px;
}

.button{
    width: 375px;
    padding: 16px 0;
    background: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    color: #ffff;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
}

.first_block_container{
    display: flex;
    justify-content: space-between;
}
.first_block_heading {
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    line-height: 130%;
}
.first_block_text{
    color: #5A5A5A;
    margin-top: 40px;
    margin-bottom: 40px;
}
.first_block, .first_block_work_animation{
    width: 50%;
}
.first_block_work_animation .circle {
    position: absolute;
    width: 271px;
    height: 271px;
    left: 930px;
    top: 64px;
    opacity: 0.1;
    background: #FFD781;
    border-radius: 50%;
    z-index: -1;
}

.job, .to, .be, .done{
    position: absolute;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.job{
    background: linear-gradient(to top, #E35569 -21.43%, #751C82 115.09%);
    width: 110px;
    height: 110px;
    font-size: 40px;
    left: 1307px;
    top: 215px;
}
.to{
    background: linear-gradient(to top, #E56367 -21.43%, #E35569 127.09%);
    width: 55px;
    height: 55px;
    font-size: 24px;
    left: 1146px;
    top: 330px;
}
.be {
    background: linear-gradient(to top, #E88462 -21.43%, #E56367 127.09%);
    width: 70px;
    height: 70px;
    font-size: 32px;
    left: 1429px;
    top: 415px;
}
.done{
    background: linear-gradient(to top, #FFD781 -21.43%, #E56367 127.09%);
    width: 150px;
    height: 150px;
    font-size: 48px;
    left: 999px;
    top: 435px;
}

.heading{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin: 167px 0 40px 0;
}
.plain_text{
    color: #5A5A5A;
    text-align: center;
    margin: auto;
    width: 90%;
    padding-bottom: 84px;
}
.owl-stage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 1px solid #A7A7A7;
}

.owl-item{
    display: flex;
    justify-content: center;
    margin: auto !important;
}

.owl-carousel .owl-item img {
    width: auto !important;
}
.owl-nav {
    display: none;
}
