@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;500;700 & display=swap');

button {
    border: none;
    background: none;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: #F5F5F5;
    line-height: 27px;
}

.container {
    max-width: 1110px;
    margin: auto;
}

h1 {
    line-height: 62px;
    font-weight: 500;
    font-size: 48px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding-top: 64px;
    padding-bottom: 102px;
}

.button_sign_up {
    background: linear-gradient(#F5F5F5, #F5F5F5) padding-box,
    linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    padding: 12px 38px;
    border: 2px solid transparent;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}


.button_login, .button_gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
}

.navigation_container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 20px;
}
.navigation a:hover{
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    opacity: 0.5;
    color: #FFFFFF;
}

.button {
    width: 375px;
    padding: 16px 0;
    background: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    color: #ffff;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}

.button:hover, .but_play:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.button:active, .but_play:active {
    transform: none;
}

.mobile_menu_container {
    display: flex;
}

.first_block_container {
    display: flex;
    justify-content: space-between;
}

.first_block_heading {
    margin: 0;
}

.first_block_text {
    color: #5A5A5A;
    margin-top: 40px;
    margin-bottom: 40px;
}

.first_block, .first_block_work_animation {
    width: 50%;
}

.first_block_work_animation .circle {
    position: absolute;
    width: 271px;
    height: 271px;
    left: 930px;
    top: 64px;
    opacity: 0.1;
    background: #FFD781;
    border-radius: 50%;
    z-index: -1;
}

.job, .to, .be, .done {
    position: absolute;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.job {
    background: linear-gradient(to top, #E35569 -21.43%, #751C82 115.09%);
    width: 110px;
    height: 110px;
    font-size: 40px;
    left: 1307px;
    top: 215px;
}

.to {
    background: linear-gradient(to top, #E56367 -21.43%, #E35569 127.09%);
    width: 55px;
    height: 55px;
    font-size: 24px;
    left: 1146px;
    top: 330px;
}

.be {
    background: linear-gradient(to top, #E88462 -21.43%, #E56367 127.09%);
    width: 70px;
    height: 70px;
    font-size: 32px;
    left: 1429px;
    top: 415px;
}

.done {
    background: linear-gradient(to top, #FFD781 -21.43%, #E56367 127.09%);
    width: 150px;
    height: 150px;
    font-size: 48px;
    left: 999px;
    top: 435px;
}

.heading {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin: 167px 0 40px 0;
}

.plain_text {
    color: #5A5A5A;
    text-align: center;
    margin: auto;
    width: 90%;
    padding-bottom: 84px;
}

.owl-stage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 1px solid #A7A7A7;
}

.owl-item {
    display: flex;
    justify-content: center;
    margin: auto !important;
}

.owl-carousel .owl-item img {
    width: auto !important;
}

.owl-nav {
    display: none;
}

.block_of_indicators_container {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.indicator {
    width: 255px;
    height: 180px;
    box-shadow: 0 0 8px #D9D9D9;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.indicator_icon {
    top: -30px;
    left: calc(50% - 30px);
    position: absolute;
}

.block_how_work {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.heading_how_work {
    font-weight: 500;
}

.text_how_work {
    color: #5A5A5A;
    font-size: 14px;
    margin-top: 20px;
}

.block_how_work_center {
    width: 460px;
    height: 460px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.img_collecting_feedback {
}

.img_how_work_container {
    background: linear-gradient(to top, #E35569 -21.43%, #751C82 115.09%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_how_work_container.collecting_feedback {
    background: linear-gradient(45deg, #CB476E, #E66E65 50%);
}

.img_how_work_container.create_value {
    background: linear-gradient(45deg, #DB4C6C, #90257D 50%);
}

.img_how_work_container.tag_cloud {
    background: linear-gradient(45deg, #ED9667, #FAC77B 50%);
}

.img_how_work_container.understand_the_contex {
    background: linear-gradient(45deg, #A13278, #E35868 50%);
}

.top_line, .bottom_line {
    width: 226px;
    height: 6px;
    position: absolute;
    left: 117px;
    z-index: -1;
}

.top_line {
    background: linear-gradient(45deg, #E56966, #fec376 50%);
}

.bottom_line {
    background: linear-gradient(45deg, #99297C, #AF3975 50%);
}

.right_line, .left_line {
    width: 6px;
    height: 226px;
    position: absolute;
    z-index: -1;
    top: 115px;
}

.left_line {
    background: linear-gradient(45deg, #E35569, #eda968 50%);
}

.right_line {
    background: linear-gradient(45deg, #95287C, #CE486E 50%);
    left: 56px;

}

.block_how_work_mobile {
    display: none;
}

.img_how_work_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.how_work_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.how_work_right_container, .how_work_left_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.how_work_left {
    text-align: end;
}

.text_how_work {
    width: 200px;
}

.plain_text.mini {
    width: 70%;
}

.how_work_play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.how_work_play span {
    padding-left: 20px;
}

.block_with_text_right {
    display: flex;
    margin-top: 180px;
}

.text_right {
    margin-left: 90px;
}

.text_right p, .text_left p {
    color: #5A5A5A;
}

.text_right h1, .text_left h1 {
    margin-bottom: 40px;
}

.block_text {
    margin-top: 60px;
}

.block_with_text_left {
    display: flex;
    flex-direction: row-reverse;
    margin: 170px 0;
}

.text_left {
    margin-right: 90px;
}

.yearly_monthly {
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
    padding: 4px;
    border-radius: 12px;
    margin: auto;
    display: flex;
    width: 180px;
}

.monthly, .yearly {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthly {
    background: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    color: #ffff;
    padding: 10px 25px;
    border-radius: 7px;
}

.pricing_plan_container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 160px;
}

.block_pricing_plan {
    box-shadow: 0 0 8px #D9D9D9;
    border-radius: 12px;
    width: 350px;
}

.pricing_plan_head h2 {
    padding: 17px 0;
    border-bottom: 1px solid #D9D9D9;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin: 0;
    text-align: center;
}

.price {
    color: #A6A6A6;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_in_numbers {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: black;
    padding: 0 10px;
}

.features {
    padding-bottom: 27px;
}

.features_head {
    font-weight: 600;
    padding-left: 35px;
}

.feature_list {
    margin: 20px 0 35px 0;
    line-height: 35px;
    padding-left: 35px;
}

.pricing_plan_but {
    width: 280px;
}

.but_container {
    text-align: center;
}

.frequently_asked_questions {
    display: flex;
    justify-content: space-between;
}

.drop-down_list_container {
    width: 570px;
    cursor: pointer;
}

.drop-down_list_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px #D9D9D9;
    border-radius: 12px;
    height: 56px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.drop-down_text {
    max-height: 0;
    margin: 0;
    overflow: hidden;
}

.drop-down_list img {
    transition-duration: 0.3s;
    transition-property: all, transform;
}

.drop-down_list.active + .drop-down_text {
    max-height: 100%;
    margin-bottom: 20px;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 0 8px #D9D9D9;
    transition: top 2s;
}

.drop-down_list.active {
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    /*transition: all ease 1s;*/
}

.frequently_asked_questions_container {
    margin-bottom: 150px;
}

.frequently_asked_questions > img {
    height: 100%;
}

footer {
    background-color: #413841;
    color: #FFFFFF;
}

.foot_header {
    text-align: center;
    padding-top: 60px;
}

.foot_text {
    text-align: center;
    margin-bottom: 60px;
}

.foot_email, .foot_address {
    display: flex;
    align-items: center;
}

.foot_address_text, .foot_email_text {
    font-size: 14px;
    margin: 0;
}

.foot_email_inform, .foot_address_inform {
    margin-left: 20px;
}

.foot_address {
    margin-bottom: 34px;
    margin-top: 60px;
}

.foot_block {
    display: flex;
    justify-content: space-between;
}

.foot_form_container {
    background-color: #FFFFFF;
    border-radius: 12px;
}

footer input, footer textarea {
    font-size: 14px;
    color: #A6A6A6;
    border: 1px solid #A6A6A6;
    border-radius: 6px;
}

.sender_information_container {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 20px 30px;
}

.foot_form_container {
    width: 650px;
    height: 100%;
}

.sender_information_container input {
    padding: 15px 20px 15px 30px;
    display: block;
}

.form_input {
    display: flex;
    flex-direction: column;
    width: 47%;
}

.message_container {
    margin: 0 30px 20px 30px;
    display: flex;
}

.message_container textarea {
    flex: 1;
    width: 100%;
    height: 90px;
    padding: 15px 20px 15px 30px;
    resize: none;

}

.form_input input:first-child {
    margin-bottom: 20px;
}

.foot_but {
    margin-left: 30px;
    margin-bottom: 32px;
}

.foot_helpful_links {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.foot_helpful_links span {
    font-size: 14px;
}

.foot_block > div {
    margin-bottom: 90px;
}