@media screen and (max-width: 1190px) {
    .button_gradient {
        padding: 12px 35px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navigation_container {
        padding-left: 100px;
    }

    .indicator {
        width: 225px;
    }

    .foot_form_container {
        width: 550px;
        height: 100%;
    }

    .pricing_plan_container .block_pricing_plan:nth-last-child(even) {
        margin: 0 6px;
    }

    .pricing_plan_but {
        width: 230px;
    }

    .drop-down_list_container {
        width: 475px;
    }

    .frequently_asked_questions {
        justify-content: space-around;
    }

    .job {
        left: 295px;
    }

    .to {
        left: 190px;
    }

    .done_container {
        left: 50px;
    }

    .first_block_three_line_container {
        transform: rotate(-25deg);
        left: 187px;
    }

    .line_three_active {
        width: 244px;
    }

    .first_block_one_line_container {
        left: 224px;
    }

    .line_one_active {
        width: 94px;
    }
}

@media screen and (max-width: 1060px) {
    .first_block_three_line_container {
        transform: rotate(-20deg);
        left: 183px;
        top: 274px;
    }

    .line_three_active {
        width: 191px;
    }

    .first_block_two_line_container {
        left: 237px;
    }

    .line_two_active {
        width: 135px;
    }

}

@media screen and (max-width: 980px) {
    nav {
        padding-top: 30px;
    }

    .navigation_container {
        position: absolute;
        height: 185px;
        display: block;
        right: 60px;
        top: 90px;
        padding: 0;
        width: 165px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
        transform: translateY(-200%);
        transition: transform 0.5s;
    }

    .navigation_container.nav_active {
        transform: translateY(0);
    }

    .navigation {
        display: block;
        line-height: 35px;
    }

    .navigation a {
        display: block;
        width: 100%;
        padding: 0 10px;
    }

    .button_login {
        padding: 0 10px;
        width: 100%;
        text-align: start;
    }

    span.navigation {
        border-bottom: 1px solid #D9D9D9;
    }

    .burger_header {
        display: block;
        position: relative;
        height: 45px;
        width: 45px;
        cursor: pointer;
    }

    .burger_header::after, .burger_header::before {
        content: '';
        display: block;
        width: 45px;
        height: 2px;
        background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
        position: relative;
        right: 20px;
    }

    .burger_header::after {
        top: 5px;
    }

    .burger_header::before {
        top: 35px;
    }

    .burger_header span {
        display: block;
        width: 45px;
        height: 2px;
        background-image: linear-gradient(269.27deg, #E35369 -96.43%, #751C82 127.09%);
        position: relative;
        right: 20px;
        top: 20px;

        transition: background 0s 0.3s;
    }

    .burger_header::after, .burger_header::before {
        transition-duration: 0.3s;
        transition-property: all, transform;
    }

    .burger_header.is-active span {
        background: none;
    }

    .burger_header.is-active::before {
        top: 25px;
        transform: rotate(-45deg);
    }

    .burger_header.is-active::after {
        top: 20px;
        transform: rotate(45deg);
    }

    .burger_header.is-active::after, .burger_header.is-active::before {
        transition-delay: 0s, 0.3s;
    }


    .button_sign_up {
        position: relative;
    }

    .job {
        left: 246px;
    }

    .to {
        left: 153px;
    }

    .done_container {
        left: 10px;
    }

    .first_block_one_line_container {
        left: 184px;
    }

    .line_one_active {
        width: 85px;
    }

    .first_block_two_line_container {
        left: 202px;
    }

    .line_two_active {
        width: 126px;
    }

    .first_block_three_line_container {
        left: 143px;
    }

    .line_three_active {
        width: 187px;
    }

    .intro_video {
        left: 235px;
    }

    .block_of_indicators_container {
        flex-wrap: wrap;
    }

    .indicator {
        flex-basis: 48%;
    }

    .block_of_indicators_container .indicator:nth-last-child(-n + 2) {
        margin-top: 50px;
    }

    .foot_block {
        flex-direction: column-reverse;
    }

    .foot_form_container {
        width: 90%;
        margin: 0 auto 40px auto;
        height: 100%;
    }

    .foot_logo {
        display: block;
        margin: auto;
    }

    .foot_email, .foot_address {
        display: flex;
        align-items: center;
        flex: 1;
        margin-bottom: 34px;
        margin-top: 60px;
        justify-content: center;
    }

    .foot_info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .foot_helpful_links {
        margin: 60px auto;
        width: 70%
    }

    .how_work_left_container {
        margin-right: 10px;
    }

    .how_work_right_container {
        margin-left: 10px;
    }

    .text_left {
        margin-right: 40px;
    }

    .text_right {
        margin-left: 40px;
    }

    .frequently_asked_questions > img {
        width: 300px;
        height: 300px;
    }

    .drop-down_list_container {
        width: 370px;
    }

    .frequently_asked_questions {
        justify-content: space-evenly;
    }

    .foot_block > div {
        margin-bottom: 50px;
    }

    .circle_center {
        width: 120px;
        height: 120px;
    }

    .circle_center_left_top, .circle_center_left_botton, .circle_center_right_top, .circle_center_right_botton {
        display: none;
    }

    .how_work_right {
        margin-left: 10px;
    }

    .how_work_left {
        margin-right: 10px;
    }

    .img_how_work_container {
        width: 110px;
        height: 110px;
    }

    .top_line {
        left: 109px;
    }

    .bottom_line {
        right: -254px;
    }

}

@media screen and (max-width: 850px) {
    h1 {
        line-height: 40px;
        font-size: 30px;
    }

    .first_block {
        width: 40%;
    }

    .first_block_work_animation {
        width: 60%;
    }

    .line_two_active {
        width: 140px;
    }

    .line_three_active {
        width: 202px;
    }

    .text_how_work {
        width: auto;
    }

    .pricing_plan_container {
        flex-direction: column;
    }

    .pricing_plan_container .block_pricing_plan:nth-last-child(even) {
        margin: 20px auto;
    }

    .block_pricing_plan {
        margin: auto;
        width: 400px;
    }

    .pricing_plan_but {
        width: 280px;
    }

    .block_with_text_container img {
        width: 300px;
    }

    .button {
        width: 300px;
    }

    .bottom_line {
        right: -166px;
    }

    .bottom_line_animation {
        width: 210px;
        animation-name: bottom_line_animation;
    }

    @keyframes bottom_line_animation {
        0% {
            width: 0;
        }
        100% {
            width: 210px;
        }
    }
    .top_line_animation {
        width: 210px;
        animation-name: top_line_animation;
    }

    @keyframes top_line_animation {
        0% {
            width: 0;
        }
        100% {
            width: 210px;
        }
    }
}

@media screen and (max-width: 755px) {
    .frequently_asked_questions > img {
        display: none;
    }

    .drop-down_list_container {
        width: 100%;
    }

    .first_block_work_animation {
        display: none;
    }

    .first_block {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .heading {
        margin: 130px 0 40px 0;
    }
}

@media screen and (max-width: 680px) {
    .block_with_text_right div:first-child, .block_with_text_left div:first-child {
        display: none;
    }

    .text_right, .text_left {
        margin: auto;
        text-align: justify;
    }

    .text_right h1, .text_left h1 {
        text-align: center;
    }

    .plain_text.mini {
        width: 80%;
    }

    .block_how_work_mobile {
        display: block;
    }

    .block_how_work {
        display: none;
    }
    .with_tag_cloud{
        width: 100%;
    }

    .how_work_one_element {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .img_how_work_container {
        width: 100px;
        height: 100px;
    }

    .block_how_work_mobile .how_work_one_element:last-child {
        margin-bottom: 70px;
    }

    .how_work_one_element div:last-child {
        width: 300px;
    }

    .text_how_work {
        margin-top: 10px;
    }
}

@media screen and (max-width: 576px) {
    .logo_container img {
        width: 200px;
    }

    .button_gradient {
        padding: 10px 23px;
    }

    .burger_header {
        height: 35px;
        width: 35px;
    }

    .burger_header::after, .burger_header::before, .burger_header span {
        width: 35px;
        right: 10px;
    }

    .burger_header::after {
        top: 5px;
    }

    .burger_header span {
        top: 20px;
    }

    .burger_header::before {
        top: 35px;
    }

    .burger_header.is-active::before {
        top: 20px;
    }

    .burger_header.is-active::after {
        top: 15px;
    }

    .navigation_container {
        right: 20px;
    }

    .owl-dots {
        border-bottom: 1px solid #A7A7A7;
        padding-bottom: 75px;
    }

    .owl-stage {
        border-bottom: none;
        padding-bottom: 0;
    }

    .indicator {
        flex-basis: 100%;
    }

    .block_of_indicators_container .indicator:nth-last-child(-n + 3) {
        margin-top: 50px;
    }

    .img_how_work_container {
        width: 90px;
        height: 90px;
        margin-right: 10px;
    }

    .img_how_work_container img {
        width: 35px;
    }

    .block_with_text_right {
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    .block_with_text_right {
        margin-top: 150px;
    }
    .block_with_text_left {
        margin: 150px 0;
    }
    .foot_info {
        flex-direction: column;
    }

    .foot_address {
        margin-bottom: 0;
    }

    .foot_email {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .foot_email, .foot_address {
        justify-content: flex-start;
    }

    .foot_info {
        display: block;
    }

    .foot_but_container {
        display: flex;
        margin-right: 30px;
    }

    .foot_but {
        flex: 1;
    }
}

@media screen and (max-width: 440px) {
    .logo_container img {
        width: 150px;
    }

    .button_gradient {
        padding: 5px 17px;
    }

    .burger_header {
        height: 25px;
        width: 25px;
    }

    .burger_header::after, .burger_header::before, .burger_header span {
        width: 25px;
        right: 10px;
    }

    .burger_header::after {
        top: 0;
    }

    .burger_header span {
        top: 12px;
    }

    .burger_header::before {
        top: 24px;
    }

    .burger_header.is-active::before {
        top: 15px;
    }

    .burger_header.is-active::after {
        top: 10px;
    }

    .block_pricing_plan {
        width: 350px;
    }

    .img_how_work_container {
        width: 80px;
        height: 80px;
    }

    .img_how_work_container img {
        width: 30px;
    }


    .sender_information_container input {
        padding: 10px 10px 10px 10px
    }

    .message_container textarea {
        padding: 10px 10px 10px 10px;
    }

    .sender_information_container, .message_container {
        margin: 20px 10px 20px 10px;
    }
    .foot_but {
        flex: 1;
    }

    .foot_but {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 380px) {
    .sender_information_container{
        flex-direction: column;
    }
    .form_input {
        width: 100%;
        margin-bottom: 20px;
    }
    .foot_but_container {
        margin-right: 0 !important;
    }
    .block_pricing_plan {
        width: 320px;
    }
}

